{% extends "main_header.html" %}
{% load staticfiles %}
{% block content %}
<br><br><br><center>

<p class = "ex">About this Site:<br><br>Hello World! This is a beta site for teaching and learning computational biology techniques. 
It is an experimental platform for me to get my teaching voice and start playing with concepts of what goes on behind the scenes of
web based tools.
 
<br><br>
How it was built:<br><br>
This site was constructed using Python, Django, JS, CSS, Bootstrap, Sqlite3, and deployed on a free Heroku 
Server. I plan to move the site to DigitalOcean soon. For tutorials on getting started building a website
with this architecture follow <a style="color:red" target="_blank" href= https://pythonprogramming.net/django-web-development-with-python-intro/>THIS LINK.</a>
This is a tutorial series to build a blog and launch it on DigitalOcean. For information on launching a Django project on Heroku
project follow <a style="color:red" target="_blank" href = https://devcenter.heroku.com/articles/deploying-python>THIS LINK.</a>
<br><br><br><br>
About the Author:<br><br>
My name is Barry Guglielmo and I am brand new to the world of web-design and web-development. I started this site only a couple weeks ago
and only have base functionality (I used it to present a Bioinformatics project). I graduated from
the University of Vermont in 2015 with a BA in Biology and Philosophy and currently work in a lab at Harvard's TH Chan School of Public Health. 

<br><br>For more information go to
my <a style="color:red" target="_blank" href = https://www.linkedin.com/in/barry-guglielmo-3b3469b1/>LinkedIn.</a> You may also be interested in thumbing 
through my <a style="color:red" target="_blank" href = https://github.com/barryguglielmo>github account</a> to see the format of this site as well
as some python scripts that I wrote for various projects.
<br><br>
I am always looking for collaborators, so if you find this site useful or interesting please reach out to me at datahound.run@gmail.com.
</p>
</center>
<br><br><br><br><br><br><br><br>
{% endblock %}
