{% extends "main_header.html" %}
{% load staticfiles %}
{% block content %}
<br><br><br>
<center>
<div class="container"> 
	<div>
		<div>
			<img src="{% static 'imgs/dog.jpg' %}" style = 'width: 40%; height:40%;'width="300" height="300"alt="dog">
		</div>
	</div>
</div>

<br><br><br>
<p class = ex> <u>An Open Resource for Computational Biology</u>
<br><br>
This site is here to help you learn some of the basics and buzz words from the computational field.
</p>
<br><br><br><br><br><br><br>

</center>
{% endblock %}
