{% extends "main_header.html" %}
{% load staticfiles %}
{% block content %}
<center><p class = 'ex'>
DEMISYFYING_DATABASES><br><br>
<br><br>Under Construction<br><br>
<h2>
<img src='{% static "imgs/database.jpg" %}' alt = "database"><br>
<!--
<font color = purple>
A database is a collective effort to compile information. We will get into database architecture much later,
for now when reffering to a database we are refering to the collection of information. 
</font>


<br><br><font color = red>
<u>Why the Hell should I care about a Database? </u></font>
<br><br>
<b><u>Because they have done the work for you!</b></u>
<br><br>
Some poor graduate student who was chained to a desk in a secluded laboratory has already 
run a test a million and one times and added their data to that of thousands of other people. 

Thanks to that poor lab schmuck (I can say that because I am one) you can sit down with your morning cup of 
joe and write some code to find potentially relevant relationships between genes or the stock market that they 
may have missed. 

<br><br>
 If you happen to belong to the same class of nerd as me you can follow the links below to databases 
 that I have found myself going back to time and time again.
 
 <br><br>
 ***This is just a placeholder*** 
<font color = blue><table class="table table-bordered">
    <thead>
      <tr>
        <th>Source</th>
        <th>Tutorial</th>
        <th>Info Type</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>NCBI</td>
        <td>Blast</td>
        <td>Protein/DNA/RNA</td>
      </tr>
      <tr>
        <td>NCBI</td>
        <td>PubMed</td>
        <td>Articles</td>
      </tr>
      <tr>
        <td>NCBI</td>
        <td>Gene</td>
        <td>Genes</td>
      </tr>
    </tbody>
  </table></font>
<br><br>
In addition to the link to the database itself I have added some tutorials for using thier sites.
Many of these sites were built by scientists, so you can imagine the term "user friendly" was rarely muttered.

<br><br>
<font color = blue>


<!––
	There is going to be significant work going into this section.
	It needs to have an easy way to navigate. Perhaps a scroll and 
	Search button so it doesnt take up the rest of the page.
	
	Also, this is going to need to be links and tutorials made.
	>
<br><br>

<br><br></font>
Feel Free to scroll and explore these databases and see which ones are relavent to you.
Also, if you have any suggestions please send them my way!
<br><br>
Moving on we have our data, now what are we going to do with it? This is where
utilizing tools such as python and R will be your best friends. You can choose to downlaod 
these databses, which are massive, you can comb the databases by hand, which is tedious,
or you can do the lazy man and code your way out of your problem.
<br><br>
If you are like me and choose to be lazy follow the link to the next page of our database intro calss.
We will go over using python to probe these databases and get as much bang for our buck as possible.
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>-->
</center>
{% endblock %}
