{% block content %}
<center>
<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
	<a  href= "/open_source_programming/" class="btn btn-default" style="background-color:black; color:white">Programming Home</a>
    <a  href= "/op_get_started/" class="btn btn-default" style="background-color:black; color:white">Getting Started</a>
	<a  href= "/python_tutorial_home/" class="btn btn-default" style="background-color:black; color:white">Python Tutorials</a>
	<a  href= "/r_tutorial_home/" class="btn btn-default" style="background-color:black; color:white">R Tutorials</a>
	<a  href= "/dojo_home/" class="btn btn-default" style="background-color:black; color:white">The Dojo</a>
  </form>
</nav>
</center>
{% endblock %}