{% block content %}
{% load staticfiles %}
<center>
<p>
RStudio Download
<br><br>
The R website was NOT designed to be user friendly or intuitive. I will walk you through how to navigate it, 
however if you want to skip to the link at the bottom of this tutorial it will get you to your download.</p>
<div  align = "center">

	<br><br>
	<p>Step 1:</p>
	<br><br>
	<div>
		<img src="{% static 'imgs/r_tutorials/download/dr01.png' %}" class = "img-responsive" style = 'width: 100%; height:100%;'alt="graph">
	</div>
	<br><br>
	<br><br>
	<p>Step 2:</p>
	<br><br>
	<div>
		<img src="{% static 'imgs/r_tutorials/download/dr02.png' %}" class = "img-responsive" style = 'width: 100%; height:100%;'>
	</div>
	<br><br><br><br>
	<p>Step 3:</p>
	<br><br>
	<div>
		<img src="{% static 'imgs/r_tutorials/download/dr03.png' %}" class = "img-responsive" style = 'width: 100%; height:100%;'>
	</div>
	<br><br><br><br>
	<p>Step 4:</p>
	<br><br>
	<div>
		<img src="{% static 'imgs/r_tutorials/download/dr04.png' %}" class = "img-responsive" style = 'width: 100%; height:100%;'>
	</div>
	<br><br>

</div>
<br><br>
<p>
<b>Or If you want to skip all of those steps simply <a href = 'https://cran.r-project.org/bin/macosx/' target = '_blank'> CLICK HERE</a> then follow from Step 4. </b> 
<br><br><br><br>

Also, just to help you out here are a few YouTube Links:
</p>

</center>
{% endblock %}